
<div class="header wrapper-header">
    <div class="header-nav-1">
        <a href="#">Avísame</a>
    </div>
    <div class="nav-2">
        <div class="search-icon">
            <i class="fas fa-search" [ngStyle]="{'color': iconColorBefore}" [ngClass]="{'hidden': !showSearchIconBefore}"></i>
        </div>
        <div class="search-box">
            <input type="text" class="input-light" placeholder="Buscar..." [(ngModel)]="searchQuery" (input)="updateIconColor()">
            <a href="#">
                <i class="fas fa-search" [ngStyle]="{'color': iconColorAfter}" [ngClass]="{'hidden': !showSearchIconAfter}"></i>
            </a>
        </div>
    </div>
    <nav class="nav-3">
        <ul class="header-nav-3">
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleAdminKey">
                <a aria-current="page" [routerLink]="['/users']">Novedades</a>
            </li>
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleAdminKey">
                <a aria-current="page" [routerLink]="['/users']">Usuarios</a>
            </li>
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleAdminKey">
                <a aria-current="page" [routerLink]="['/companies']">Empresas</a>
            </li>
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleAdminKey">
                <a class="button-blue link-white" aria-current="page" [routerLink]="['/requests']">Peticiones</a>
            </li>
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleRegularKey">
                <a class="button-blue link-white" aria-current="page" [routerLink]="['/misavisos']">Mis avisos</a>
            </li>
            <li  *ngIf="usuariosService.isLogged() && roleValue == roleRegularKey">
                <a [routerLink]="['/aviso', 'new']">Nuevo aviso</a>
            </li>
            <li  *ngIf="!usuariosService.isLogged()">
                <a [routerLink]="['/login']">Login</a>
            </li>
            <li  *ngIf="!usuariosService.isLogged()">
                <a [routerLink]="['/register']">Registro</a>
            </li>
            <li  *ngIf="usuariosService.isLogged()">
                <a (click)="onClickLogout()">Logout</a>
            </li>
        </ul>
    </nav>
</div>
