<h1>Bienvenido a Avísame!</h1>
<h2>Encuentra las últimas tendencias y estilos</h2>
<div class="main-image mb3">
    <img src="assets/images/chica.jpg" alt="Imagen 1">
</div>
<div class="description">
    <p>En nuestra web podrás encontrar una amplia variedad de ropa de moda para todas las ocasiones. Desde prendas casuales hasta elegantes conjuntos para eventos especiales, tenemos todo lo que necesitas para lucir a la moda y sentirte seguro.</p>
</div>
<div class="carousel">
    <h3>Explora nuestras colecciones</h3>
    <div class="carousel-images">
        <img src="assets/images/limon.jpg" alt="Imagen 2">
        <img src="assets/images/modelo ropa.jpg" alt="Imagen 3">
        <!-- Agrega más imágenes aquí -->
    </div>
</div>

<div class="main-image mb3">
    <img src="assets/images/chica.jpg" alt="Imagen 1">
</div>
<div class="description">
    <p>En nuestra web podrás encontrar una amplia variedad de ropa de moda para todas las ocasiones. Desde prendas casuales hasta elegantes conjuntos para eventos especiales, tenemos todo lo que necesitas para lucir a la moda y sentirte seguro.</p>
</div>
<div class="carousel">
    <h3>Explora nuestras colecciones</h3>
    <div class="carousel-images">
        <img src="assets/images/limon.jpg" alt="Imagen 2">
        <img src="assets/images/modelo ropa.jpg" alt="Imagen 3">
        <!-- Agrega más imágenes aquí -->
    </div>
</div>
